footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  line-height: 1;
}

.footer-link {
  display: inline-flex;
  align-items: center;
  gap: 0.3em;
}

.footer-icon {
  height: 1em;
  width: auto;
  vertical-align: middle;
}

.footer-sep {
  line-height: 1;
}
